body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.center-panel {
    flex: 60%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.limited-lines {
    max-height: 3.6em;
    line-height: 1.2em;
    overflow: hidden;
}

.right-panel {
    flex: 40%;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-switch {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.form-switch input {
    display: none;
}

.form-switch label {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.line {
    height: 2px;
    width: 50px;
    background-color: #333;
    margin: 0 10px;
}

#login:checked + .form-switch label[for="login"],
#register:checked + .form-switch label[for="register"] {
    background-color: #333;
    color: #fff;
}

.auth-form {
    max-width: 300px;
    width: 100%;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #45a049;
}

#register:checked ~ .center-panel #login-form,
#login:checked ~ .center-panel #register-form {
    display: none;
}

#register:checked ~ .center-panel #register-form,
#login:checked ~ .center-panel #login-form {
    display: block;
}
